html{
    height: 100%;
}
body{
    background-color: hsl(257, 40%, 49%);
    width: 100%;
    height: 100%;

}

.attribution { font-size: 11px; text-align: center;color: #FFFFFF; }
.attribution a { color: #FFFFFF; text-decoration: none;}
#imagenesVectoriales{
    height: 60%;
}
#imagenesVectoriales{
    width: 100%;
    height: 100%;
}
#fondoSVG{
    background-image: url(images/bg-desktop.svg);
    position: absolute;
    background-size: cover;
    height:100% ;
    width:100%;
}  
 
#logoHuddle{
    position: absolute;
    width: 18.66%;
    height: 8.1%;
    top: 4.85%;
    left: 10.5%;

    
}
#imagenSVG{
    position: absolute;
    height: 61.63%;
    width: auto;
    top: 15.4%;
    left: 10.75%;
}
#textos{
    position: absolute;
    height: 24.5%;
    width: 35.58%;
    top: 29.75%;
    left: 65.17%;
    color: #FFFFFF;

}
#textoTitulo{
    font-family: 'Poppins';
    width: 350px;
    font-size: 35px;
    font-weight: bold;
}
#textoInvitacion {
    font-family:"open sans";
    font-weight: normal;
    font-size: 16px;
    width: 400px;
    height: 59px;

}
#registrate{
    position: relative;
    width: 218px;
    cursor:pointer;
    height: 61px;
    border-radius: 100px;
    color:hsl(257, 40%, 49%);
    background-color: #FFFFFF;
    box-shadow: 5px 10px 6px 4px rgba(0, 0, 0, 0.15);
    border:1px;
    top: 38px;
    
}
footer{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 100%;
}
#logos{
    position:absolute;
    color:white;
    cursor:pointer;
    width: 200px;
    height: 50px;
    top:90%;
    left: 80%;
}
.iconos{
    width: 35px;
    height: 35px;
    margin-right: 14px;

}
#registrate:hover, #registrate:focus{

    color:#FFFFFF;
    outline:0;
    background-color: hsl(300, 69%, 71%);
    transition: 0.4s;

}
#facebook:hover, #ifacebook:focus{
    color:hsl(300, 69%, 71%);
    transition: 0.4s;
}
#twitter:hover, #ifacebook:focus{
    color:hsl(300, 69%, 71%);
    transition: 0.4s;
}
#instagram:hover, #ifacebook:focus{
    color:hsl(300, 69%, 71%);
    transition: 0.4s;
}
/* parte responsive*/

@media (max-width: 768px) {
    #imagenesVectoriales {
        width: 100%;
        height: 48%;
    }
    #fondoSVG{
        background-image: url(images/bg-mobile.svg);
        position: absolute;
        height: 46.5%;
        width: 100%;
    }
    #imagenSVG  {
        
        width: auto;
        height: 24.76%;
        left: 16.2%;
        top: 11.3%;

    }
    #logoHuddle{
        width: 32%;
        height: 3.69%;
        top: 4.06%;
        left: 9.06%;
    }
    #textos{
        width: 80%;
        height: 24.76%;
        top: 47.78%;
        left: 10.9%;
        
    }
    #textoTitulo{
        width: 100%;
        font-size: 150%;
        font-weight: bold;
        text-align: center;
    }
    #textoInvitacion{
        margin-left: 5%;
        width: 85%;
        font-size: 80%;
        font-weight: normal;
        text-align: center;
    }
    #registrate{
        width: 65%;
        height: 29%;
        margin-left: 15%;
    }
    #logos{
        width: 100px;
        height: 25px;
        top: 90%;
        left: 40%;
    }
    .iconos{
        width: 25px;
        height: 25px;
        margin-right: 4px;
    }
    #centrame{
        text-align: center;
    }

}

@media  (min-width:800px) and (max-width:950px) {
    #imagenSVG {
        width: 40%;
        height: 40%;
    }

}
