body{
    background-color: hsl(257, 40%, 49%);

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
#fondoSVG{
    position: absolute;
    height:800px ;
    width:1318px;
}  
 
#logoHuddle{
    position: absolute;
    width: 264px;
    height: 65.33px;
    top: 64px;
    left: 96px;

    
}
#imagenSVG{
    position: absolute;
    height: 506px;
    width: 709px;
    top: 205px;
    left: 96px;
}
#textos{
    position: relative;
    height:196px;
    width: 469px; 
    top:238px;
    left:856px;
    color:#FFFFFF

}
#textoTitulo{
    font-family: 'Poppins';
    width: 350px;
    font-size: 35px;
    font-weight: bold;
}
#textoInvitacion {
    font-family:"open sans";
    font-weight: normal;
    font-size: 16px;
    width: 400px;
    height: 59px;

}
#registrate{
    position: relative;
    width: 218px;
    cursor:pointer;
    height: 61px;
    border-radius: 100px;
    color:hsl(257, 40%, 49%);
    background-color: #FFFFFF;
    box-shadow: 5px 10px 6px 4px rgba(0, 0, 0, 0.15);
    border:1px;
    top: 38px;
    
}
footer{
    position:absolute;
    top : 130%;
    left: 50%;
}
#logos{
    position:absolute;
    color:white;
    cursor:pointer;
    width: 200px;
    height: 50px;
    top:750px;
    left: 1118px;
}
.hydrated{
    width: 35px;
    height: 35px;
    margin-right: 14px;

}
#registrate:hover, #registrate:focus{

    color:#FFFFFF;
    outline:0;
    background-color: hsl(300, 69%, 71%);

}
#facebook:hover, #ifacebook:focus{
    color:hsl(300, 69%, 71%);
}
#twitter:hover, #ifacebook:focus{
    color:hsl(300, 69%, 71%);
}
#instagram:hover, #ifacebook:focus{
    color:hsl(300, 69%, 71%);
}